{
    "presets": [
        ["react"],
        [
            "es2015",
            {
                "modules": false
            }
        ],
        "stage-2"
    ],
    "plugins": [["inferno", {"imports": true}],
        ["transform-react-jsx", {
            "pragma": "dom" // default pragma is React.createElement
        }],
        ["transform-react-display-name"],
        ["syntax-jsx"]]
}
